body {background-color: #F8F87A;}

.titre {text-align: center;}

#affichage-melange {
text-align: justify;
margin: 20px;
}

.listes {
display: flex;
flex-direction: row;
justify-content: space-around;
}
