.titre, #button {
text-align: center;
}

#affichage-melange {
font-size: 50px;
text-align: center;
}

body {
background-color: #86C4A9;
}

h3 {
text-align: center;
}

#input_bases {
font-size: 20px;
display: flex;
margin: 10px;
background-color: #86C4A9;
justify-content: space-around;
flex-wrap: wrap;
height: 100px;
}

#box {
text-align: center;
}
