.titre {
text-align: center;
}

#affichage-melange {
font-size: 80px;
}

#affichage-voyelles {
background-color: #F1353E;
}

#affichage-consonnes {
background-color: #0BBB0B;
}

body {
background-color: #FFC0CB;
}

#voyelles_une_lettre, #voyelles_deux_lettres, #voyelles_trois_lettres, #consonnes_une_lettre, #consonnes_deux_lettres, .affichage {
font-size: 20px;
}
